#*.bin
#*.cne
#*.cnm
#*.cns
#*.cpp
#*.csv
#*.hpp
#*.jf
#*.jf.gz
#*.json
#*.log
#*.matrix
#*.nj
#*.o
#*.pyc
#*.pyo
#*.ser
#*.so
#*.tree
#*.txt
#*.upgma
#*.tar.gz
tmp*

.sync
gmon*

#cnidariapy.py
#countChars
#tmp
#tmp3
#cnidaria
#core
#kmertreepy.so
#libs/jellyfish-2.1.3.tar.gz
#libs/Jellyfish

#test/
#src_cpp/
#src_obj/
#build/
#libs/jellyfish-2.1.3/
#data/raw
#trees/
#.Rproj.user

cnidaria.result.tar.gz
#scripts/validation/*.tar.gz
